header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.icons1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: auto;
}
