// @import "mobileStyling";

:root {
    --base-colour: white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #383c4d;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
}

.darkMode {
    --base-colour: #070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --box-shadow-color: rgba(255, 255, 255, 0.5);
}
#theme-switch {
    margin-top: 15px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    // top: 20px;
    // right: 20px;
}
#theme-switch svg {
    fill: var(--primary-color);
}
#theme-switch svg:last-child {
    display: none;
}
.darkMode #theme-switch svg:first-child {
    display: none;
}
.darkMode #theme-switch svg:last-child {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--base-colour);
    color: var(--text-color);
}
header {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.introLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    &__img {
        display: none;
    }
    &__juniorDev {
        display: flex;
        text-align: left;
    }
}

.aboutMe {
    text-align: center;
    padding-top: 50px;
    &__content {
        padding: 5px 5px;
        // border: solid rgb(1, 8, 102);
        // border-radius: 5%;
    }
    &__title {
    }
    &__para {
        color: var(--secondary-text);
    }
    &__img {
        width: 300px;
        height: 300px;
        border-radius: 10%;
        object-fit: cover;
    }
}
.technicalSkills {
    text-align: center;
    padding-top: 30px;
    &__title {
        font-weight: bold;
    }
}

.icons1 {
    display: flex;
    align-items: center;
    justify-content: center;

    &__html {
        fill: orange;
        width: 50px;
        height: 50px;
    }
    &__css {
        fill: blue;
        width: 50px;
        height: 50px;
    }
    &__react {
        fill: turquoise;
        width: 50px;
        height: 50px;
    }
    &__java {
        width: 50px;
        height: 50px;
    }
}

.icons2 {
    display: flex;
    align-items: center;
    justify-content: center;

    &__git {
        fill: rgb(243, 84, 26);
        width: 50px;
        height: 50px;
    }
    &__javaScript {
        fill: rgb(245, 245, 29);
        width: 50px;
        height: 50px;
    }
    &__github {
        fill: rgb(82, 8, 202);
        width: 50px;
        height: 50px;
    }
}
.icons3 {
    display: flex;
    align-items: center;
    justify-content: center;
    &__sass {
        fill: pink;
        width: 50px;
        height: 50px;
    }
    &__typeScript {
        fill: #007acc;
        width: 50px;
        height: 50px;
    }
}
.icons4 {
    display: flex;
    align-items: center;
    justify-content: center;
    &__springBoot {
        fill: green;
        width: 50px;
        height: 50px;
    }
}

.projectsContainer {
    text-align: center;
    padding-top: 30px;
    &__title,
    &__para {
        text-align: center;
    }
}

.project-card {
    background-color: var(--base-colour);
    color: var(--text-color);
    box-shadow: 0 4px 10px var(--box-shadow-color);
    border: 1.5px solid var(--secondary-color);
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    margin: 30px 0px;
    &.active {
        opacity: 1;
        transform: translateY(0);
    }

    &-img {
        width: 100%;
        height: auto;
        border-radius: 5%;
    }
    &-btn {
        padding: 10px 20px;
        border-radius: 10%;
        color: white;
        font-size: large;
        border: solid var(rgb(1, 8, 102));
    }
    &__link {
        text-decoration: none;
        color: rgb(1, 8, 102);
        &:visited {
            color: rgb(170, 4, 170);
        }
    }
}
.bottomOfPage {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    background-color: rgb(1, 8, 102);
    color: white;

    &__linkedIn,
    &__github,
    &__email {
        display: inline-flex;
    }
    &__icon {
        width: 30px;
        height: 30px;
    }
    &__icon path {
        fill: white;
    }
}
