header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.icons {
    flex: 1;
    justify-content: center;
    text-align: center;
    margin: auto;
}
