body {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

header {
  display: none;
}

.introLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.introLine--img {
  display: none;
}
.introLine--juniorDev {
  display: flex;
  text-align: left;
}

.aboutMe {
  text-align: center;
  padding-top: 50px;
}
.aboutMe--img {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
}

.technicalSkills {
  text-align: center;
  padding-top: 30px;
}
.technicalSkills--title {
  font-weight: bold;
}

.icons1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons1--html {
  fill: orange;
  width: 50px;
  height: 50px;
}
.icons1--css {
  fill: blue;
  width: 50px;
  height: 50px;
}
.icons1--react {
  fill: turquoise;
  width: 50px;
  height: 50px;
}
.icons1--java {
  width: 50px;
  height: 50px;
}

.icons2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons2--git {
  fill: rgb(243, 84, 26);
  width: 50px;
  height: 50px;
}
.icons2--javaScript {
  fill: rgb(245, 245, 29);
  width: 50px;
  height: 50px;
}
.icons2--github {
  fill: rgb(82, 8, 202);
  width: 50px;
  height: 50px;
}

.icons3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons3--sass {
  fill: pink;
  width: 50px;
  height: 50px;
}

.projects {
  text-align: center;
  padding-top: 30px;
}
.projects--para {
  text-align: center;
}

.bottomOfPage {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 50px;
  flex-wrap: wrap;
}
.bottomOfPage--linkedIn {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}

.bottomOfPage--linkedIn__image {
  margin-left: 8px; /* Space between the text and the SVG */
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 451px) {
  body {
    display: flex;
    margin: 100px;
    font-size: x-large;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header--navBar {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    list-style-type: none;
  }
  li {
    padding-right: 20px;
  }
  .introLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .introLine--img {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
  .aboutMe {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 50px;
  }
  .aboutMe--img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
  .aboutMe--content {
    flex: 1;
  }
  .aboutMe--title {
    margin-bottom: 10px;
  }
  .technicalSkills {
    text-align: center;
    padding-top: 30px;
  }
  .technicalSkills--title {
    font-weight: bold;
  }
  .technicalSkills--para {
    padding: 0px 150px 0px 150px;
  }
}
